@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 203 0% 100%;
    --foreground: 203 0% 10%;
    --card: 203 0% 100%;
    --card-foreground: 203 0% 15%;
    --popover: 203 0% 100%;
    --popover-foreground: 203 95% 10%;
    --primary: 203 60.9% 45.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 165 10% 95%;
    --muted-foreground: 203 0% 40%;
    --accent: 165 10% 90%;
    --accent-foreground: 203 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 203 0% 100%;
    --border: 203 20% 82%;
    --input: 203 20% 50%;
    --ring: 203 60.9% 45.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 203 10% 10%;
    --foreground: 203 0% 100%;
    --card: 203 0% 10%;
    --card-foreground: 203 0% 100%;
    --popover: 203 10% 5%;
    --popover-foreground: 203 0% 100%;
    --primary: 203 60.9% 45.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 165 10% 25%;
    --muted-foreground: 203 0% 65%;
    --accent: 165 10% 25%;
    --accent-foreground: 203 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 203 0% 100%;
    --border: 217.2 32.6% 17.5%;
    --input: 203 20% 50%;
    --ring: 203 60.9% 45.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.modal {
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.no-scrollbar {
  scrollbar-width: none;
}

.translate-x-0 {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.-translate-x-full {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

/* * {
  scrollbar-width: thin;
  scrollbar-color: gray white;
} */

/* Customizes the whole scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Customizes the track of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Customizes the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
}

/* Changes the thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

.slider-container {
  height: fit-content;
}

/* Set the color to white for active button */
.slick-dots li.slick-active button:before {
  color: black !important;
}

/* Set the color to black for active button when 'dark' class is present */
.dark .slick-dots li.slick-active button:before {
  color: white !important;
}
